@font-face {
   font-family: 'GOTHICB';
   font-display: swap;
   src: url('file:///C:/Users/afulton/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-08-27_073204/fonts/GOTHICB/font.TTF');
}
